.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natours logo')
    ul.footer__nav
        li(href="#") Về chúng tôi
        li(href="#") Tải xuống app
        li(href="#") Trở thành một hướngdẫn viên
        li(href="#") Nghề nghiệp
        li(href="#") Liên hệ
    p.footer__copyright &copy; by TrungDevGod. All rights reserved.