@media (max-width: 1023px) {
    .hide-on-mobile{
        display: none;
    }

    .header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    .header-fixed__search-item{
        display: block;
    }
}